/*  for about us page */

/* ============================= 
            VARIABLES 
============================= */
:root {
    --primary-color: #b2d0b2;
    --accent1-color: #264653;
    --text-color: #fff;
    --background-color: #224958ea;
    --shadow-color: #11191dea;
    --transition-effect: #052d1f;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* ============================= 
            RESET 
============================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ============================= 
LAYOUT (Header, Footer) 
============================= */

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

header img {
    border-radius: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: var(--text-color);
    color: var(--shadow-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

 nav a:hover {
  background-color: var(--transition-effect);
  color: var(--text-color);
 }

header,
main,
footer {
    max-width: 1343px;
    margin: 0 auto;
}

footer {
  margin: 20px auto 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

.socialmedia {
    display: flex;
    gap: 15px;
    text-decoration: none;
    margin: 1px;
}

.socialmedia img {
    width: 30px;
}

/* =============================
    COMPONENTS (Hero, CTA) 
============================= */

/* About Page */
.hero {
    position: relative;
    max-width: 1343px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

.hero article {
    position: absolute;
    bottom: 230px;
    left: 20px;
    right: 20px;
    background-color:var(--background-color);
    color:var(--text-color);
    padding: 13px;
    border-radius: 15px;
}

.hero article img {
    float: right;
    width: 155px;
    border-radius: 10px;
}

/* ============================= 
        PAGE SPECIFIC 
============================= */
h1, h2 {
    font-family: var(--heading-font);
    color: var(--text-color);
    padding: 13px;
    text-align: center;
    font-size: 35px;
}

p {
    font-family: var(--heading-font);
    color: var(--text-color);
    padding: 13px;
    text-align: center;
}

article img {
    box-shadow: 5px 5px 5px var(--shadow-color);
}

figure img {
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

/* History Section */
.history {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 0.3rem;
}

.history img {
    width: 100%;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

/* Adventure Section */
.adventure {
    padding: 20px;
    background-color: var(--background-color);
    color: white;
    border-radius: 0.3rem;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-align: center;
    place-items: center;
}

.adventure-grid img {
    width: 200px;
}


