:root {
  --primary-color: #055a05d9; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --text-color: #fff;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 1300px;
    margin: 0 auto;
    padding: 10px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--text-color);
    padding: 15px;
    background-color: #315360;
    text-align: center;
}
s
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--text-color);
}


/* "Class Selectors" */
.socialmedia a {
    text-decoration: none;
    margin: 1px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 155px;
    border-radius: 10px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--accent1-color);
    color: white;
    padding: 13px;
    opacity: 0.9;
    border-radius: 15px;
}

