:root {
  --primary-color: #b2d0b2a9;
  --secondary-color: #2c2825; 
  --accent1-color: #264653;
  --text-color: #fff;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--primary-color);
}


header, img, nav ul{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav ul {
    display: grid;
}

header, main, footer {
    max-width: 1300px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--text-color);
    padding: 15px;
    background-color: #315360;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav a {
    color: var(--secondary-color);
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--text-color);
}


/* "Class Selectors" */
.socialmedia a {
    text-decoration: none;
    margin: 1px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 155px;
    border-radius: 10px;
}

.hero article {
    position: absolute;
    bottom: 230px;
    left: 20px;
    right: 20px;
    background-color: var(--accent1-color);
    color: white;
    padding: 13px;
    opacity: 0.9;
    border-radius: 15px;
}
