* , *::before, *::after {
    box-sizing: border-box;
}

/* h1 {
    text-align: center;
    margin-bottom: 30px;
    padding: 25px;
    background: linear-gradient(135deg, #2c3e50, #4a6491);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

main {
    width: 700px;
    margin: 0 auto;
    background-color: #d3d3d3;
    padding: 1.25rem;
}

fieldset {
    border: 3px solid #751616da;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1107a8;
    padding: 0 10px;
}

input, select, textarea {
    font-size: 1.25em;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

input:focus, select:focus, textarea:focus {
    outline: 1.5px solid #011a05;
}

.code {
    background-color: #03020d;
    color: #f3f3f3;
    font-family: monospace;
    padding: 10px 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

.number {
    font-weight: bold;
    font-size: 2em;
    color: #6b0353;
    font-style: italic;
}


button {
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: #024a0e;
    color: #f3f3f3;
    border: 5px dashed #011a05;
    border-radius: 5px;
    cursor: pointer;
}
